* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  width: 100%; 
}

.chats {
  width: 20%;
  min-height: 100vh;
  border-right: 1px solid gray;
}

.user {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.user-info {
  display: flex;
  gap: 20px
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-detail {
  display: flex;
  flex-direction: column;
}

.user-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.principal {
  width: 80%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
