* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  width: 100%;
}

.chats {
  width: 20%;
  min-height: 100vh;
  border-right: 1px solid gray;
}

.user {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-detail {
  display: flex;
  flex-direction: column;
}

.user-detail p {
  color: #BEC1BB;
  font-size: 10px;
}

.user-icons {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #BEC1BB;
}

.new-chat {
  display: flex;
  padding: 20px 10px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.new-chat button {
  background-color: #a491d2;
  color: white;
  padding: 10px 20px;
  border: none;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contact {
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid gray;
  align-items: center;
}

.contact p {
  font-size: 10px;
}

.principal {
  width: 80%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.slogan img {
  max-width: 250px;
  margin-bottom: 20px;
}

.slogan h1 {
  font-size: 46px;
  font-weight: normal;
}

.slogan p {
  font-size: 12px;
  max-width: 400px;
  margin-top: 10px;
}